.resources {
    height: 900px;
    background-color: #dac6ff;
}

.resources .resources-container{
    height: 470px;
    background-color: white;
    padding-top: 170px;
    position: relative;
}

.resources .title{
    font-size: 70px;
    padding-left: 8%;
    padding-right: 8%;
}

.resources .title-element{
    height: 80px;
    width: 850px;
    background-color: #dac6ff;
    z-index: 1;
    margin-top: -40px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.resources .text-container{
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resources .text-container .text-1 {
    font-size: 20px;
    line-height: 35px;
    font-weight: 200;
    width: 580px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.resources .text-container .text-1 .title{
    font-size: 50px;
    margin-bottom: 50px;
    color: #f0ff00;
    font-weight: 200;
    padding-left: 0;
    padding-right: 0;
}

.resources .title-element-l{
    background-color: #dac6ff;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 234px;
    right: 96.3%;
    z-index: 1;
}

.resources .title-element-l:before{
    content: '';
    height: 115px;
    width: 115px;
    border-radius: 35px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: -45px;
}

.resources .title-element-r:before{
    content: '';
    height: 115px;
    width: 115px;
    border-radius: 35px;
    background-color: white;
    position: absolute;
    left: 0px;
    top: 0px;
}

.resources .title-element-r{
    background-color: #dac6ff;
    height: 70px;
    width: 70px;
    position: absolute;
    bottom: 84px;
    right: 96.3%;
}

