.interiorDesignMasterclass{
    position: relative;
    background-image: url("../assets/images/idm1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.interiorDesignMasterclass-container{
    position: relative;
    background-image: url("../assets/images/idmc.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}