.this-is-me {
    height: calc(100vmin);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.this-is-me .row1 .image{
    background-image: url("../assets/images/this-is-me.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100px + 35vmin);
    height: calc(100px + 35vmin);
}


.this-is-me .enlight{
    background-color: #dac6ff;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    color: white;
}

.this-is-me .col2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.this-is-me .text-container{
    width: 66%;
    font-size: calc(12px + 1vmin);
    text-align: end;
}

.this-is-me .title{
    font-size: calc(20px + 2.7vmin);
}

.this-is-me .row2 p{
    font-size: calc(16px + 2vmin);
    text-align: center;
    margin-top: 100px;
    width: 70%;
}