.this-is-me {
    height: calc(100vmin);
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.this-is-me .row1 .image{
    background-image: url("../assets/images/this-is-me.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100px + 35vmin);
    height: calc(100px + 35vmin);
}


.this-is-me .enlight{
    background-color: #dac6ff;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 500;
    color: white;
}

.this-is-me .col2{
    display: flex;
    align-items: center;
    justify-content: end;
}

.this-is-me .text-container{
    width: 50%;
    font-size: 20px;
    text-align: end;
}

.this-is-me .title{
    font-size: 45px;
}

.this-is-me .row2 p{
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    width: 70%;
}