.ecommerce {
    background-color: #dac6ff;
    height: 480px;
}

.ecommerce .ecommerce-title {
    font-size: 50px;
    margin-bottom: 50px;
    color: #f0ff00;
    font-weight: 200;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ecommerce .ecommerce-title p {
    width: 580px;
}

.ecommerce .card {
    width: 380px;
    height: 260px;
    background-color: white;
    border-radius: 35px;
    zoom: .84;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
}

.ecommerce .thumbnail {
    height: 200px;
    width: 100%;
}

.ecommerce .card.num1 .image {
    background-image: url("../assets/images/10.png");
}

.ecommerce .card.num2 .image {
    background-image: url("../assets/images/6.png");
}

.ecommerce .card.num3 .image {
    background-image: url("../assets/images/11.png");
}


.ecommerce .card .image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.ecommerce .info {
    height: 60px;
}

.ecommerce .info .title {
    font-size: 12px;
    margin-top: 10px;
    padding-left: 6%;
    font-weight: 500;
    margin-bottom: -5px;
}

.ecommerce .info .price {
    color: red;
    text-align: right;
    padding-right: 8%;
    padding-right: 8%;
}


.ecommerce .info .free {
    color: #00d637;
    text-align: right;
    padding-right: 8%;
    padding-right: 8%;
}

.ecommerce .cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
}