.uppercase{
    text-transform: uppercase;
}

.home-first-viewed{
    height: calc(100vh);
    overflow: hidden;
    background-image: url("../../src/assets/images/homeNew.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-first-viewed .inner-box{
    width: 700px;
    height: 390px;
    background-color: rgb(3 31 50 / 80%);
    padding: 50px;
}

.home-first-viewed .inner-box p:first-child{
    color: #ff1f1f;
    text-transform: uppercase;
    text-align: center;
    font-size: 120px;
    line-height: 120px;
    font-weight: 500;
}

.home-first-viewed .inner-box p:last-child{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    position: relative;
    z-index: 1;
}

.home-first-viewed .filtro-scurente{
    background-color: black;
    opacity: .5;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.position-absolute{
    position: absolute;
}

.home-first-viewed .box-1 .image{
    background-image: url("../assets/images/ambra.png");
    background-size: calc(56vmin);
    background-repeat: no-repeat;
    background-position: left 10vmin;
}

.home-first-viewed .box-container{
    display: flex;
    flex-direction: row;
    height: calc(100%);
}

.home-first-viewed .box-2{
    font-size: calc(16px + 2.2vmax);
    width: 45%;
}

.home-first-viewed .enlight{
    background-color: #dac6ff;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
}



.home-first-viewed .box-2{
    width: 50%;
}

.home-first-viewed .box-1{
    width: 50%;
    height: 100%;
}

.home-first-viewed .box-1 .image{
    height: 100%;
}

.home-first-viewed .box-container{
    background-image: url("../assets/images/new-bk-home.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-first-viewed .box-2 p{
    text-align: right;
}