.aboutMasterclass{
    position: relative;
    background-image: url("../assets/images/aboutMasterclass.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}